@model IEnumerable<CAM.Web.ViewModels.Inventory.InventoryIndexViewModel>
@{
    ViewData["Title"] = "Inventory";
}
@await Html.PartialAsync("_StatusMessagePartial", TempData)

<div class="panel-body">
    <div class="control-panel">
        <div class="btn-toolbar justify-content-between">
            @* Left *@
            <div>
                <div class="btn-group mr-1">
                    <a class="btn btn-secondary" href="/inventory/p/new">Add Part</a>
                </div>
                <div class="btn-group mr-1">
                    <a class="btn btn-secondary" asp-controller="inventory" asp-action="receive">Receive Shipment</a>
                </div>
                <div class="btn-group mr-1">
                    <a class="btn btn-dark" asp-controller="inventory" asp-action="perform">Perform Inventory</a>
                </div>
            </div>
            @* Right *@
            <div class="input-group float-right">
                <form asp-action="index" method="get" class="form-inline">
                    <div class="form-group mb-2">
                        <input type="text" class="form-control control-object" name="search" placeholder="Search parts..." autocomplete="off" />
                    </div>
                    <div class="form-group mb-2">
                       @await Html.PartialAsync("_PartsFilterPartial", new ViewDataDictionary(ViewData)) 
                    </div>
                    <div class="form-group ml-1 mb-2">
                        <input type="submit" value="Filter" class="btn btn-secondary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Part #</th>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @Html.DisplayForModel()
        </tbody>
    </table>
    <div class="modal" id="deleteModal">
        <div class="modal-dialog">
            <div class="modal-content">

                @* header *@
                <div class="modal-header">
                    <h4 class="modal-title">Confirm deletion</h4>
                    <button class="close" data-dismiss="modal">&times;</button>
                </div>

                @* body *@
                <div class="modal-body text-center">
                    <h6 class="mb-4">Deleting a part cannot be undone, are you sure you would like to continue?</h6>
                    <span style="padding-right: 5px">
                        @* asp-route-id set by js *@
                        <form method="post" asp-controller="Parts" asp-action="Delete" id="deleteForm" >
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        </form>
                    </span>
                    <span>
                        <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>