@{
    ViewData["Title"] = "Receive a shipment";
}

<div class="centered-form-container">
    <div class="form-panel shadowed" style="min-width: 1000px;">
        <div class="title-panel">
            <h3>Receive a shipment</h3>
            <hr />
        </div>
        <div class="form-row justify-content-center">
            <div class="form-group autocomplete col-sm-6">
                <span class="fa fa-search form-search-input"></span>
                <input id="searchParts" type="text" class="form-control has-search-icon" placeholder="Search for a part..." autocomplete="false" />
                <span class="text-muted ml-1" style="font-size: 13px;">Click here to add a non-existing part.</span>
            </div>
            <div class="form-group col-sm-1">
                <input type="number" class="form-control" placeholder="Qty" />
            </div>
            <div>
                <button class="btn btn btn-secondary"><i class="far fa-plus-square"></i> Add to list</button>
            </div>
        </div>
        <hr />
    </div>
</div>
@section Scripts {
    @* Parts search API *@
    <script>partsAutoComplete("searchParts")</script>
}