@model CAM.Web.ViewModels.Inventory.InventoryReceiveViewModel
@{
    ViewData["Title"] = "Receive a shipment";
}

@await Html.PartialAsync("_StatusMessagePartial", TempData)
<div class="centered-form-container">
    <div class="form-panel shadowed" style="width: 1000px;">
        <div class="title-panel">
            <h3>Receive a shipment</h3>
            <hr />
        </div>
        @* Doesn't use inline form or align-items-center with col-auto because of autocomplete elements *@
        <form asp-controller="Inventory" asp-action="AddToReceivingList" data-ajax="true" data-ajax-method="post" data-ajax-success="verifyThenAppend" data-ajax-failure="onAddFail">
            <div class="form-row justify-content-center pt-3">
                <div class="form-group autocomplete col-md-6">
                    @* <span class="text-muted ml-1" style="font-size: 13px;">Click here to add a non-existing part.</span> *@
                    <span class="fa fa-search form-search-input"></span>
                    <input asp-for="InputPartNumber" id="searchParts" type="text" class="form-control has-search-icon" placeholder="Search for a part..." autocomplete="off" />
                    <span asp-validation-for="InputPartNumber" class="text-danger" style="position: absolute; z-index: -1;"></span>
                </div>
                <div class="form-group col-md-2">
                    <input asp-for="InputQuantity" id="partQty" class="form-control" value="1" placeholder="Qty" />
                    <span asp-validation-for="InputQuantity" class="text-danger"></span>
                </div>
                <div class="btn-toolbar pl-2" style="display: block;">
                    <button type="submit" id="addPart" class="btn btn-secondary"><i class="far fa-plus-square"></i> Add to list</button>
                    <button type="button" class="btn btn-dark">New part</button>
                </div>
            </div>
        </form>
        <hr />
        <div class="receive-header">
            <span class="pl-2">Current queue of parts</span>
        </div>
        <form asp-controller="Inventory" asp-action="Receive" data-ajax="true" data-ajax-method="post" 
            data-ajax-confirm="Are you sure you want to submit this list?" data-ajax-failure="onListSubmitFail"
            data-ajax-loading="#loading">
            <div id="partsList" class="parts-list">
                <div class="row part-container part-dummy" id="dummyText">
                    <div class="col-md-12">
                        <p class="text-muted">
                            There are currently no parts. Start adding items to receive by searching and using the "Add to list" button.
                            <br />
                            <br />
                            If you cannot find a part, you can add it by clicking the "New part" button.
                        </p>
                    </div>        
                </div>
            </div> 
            <div class="form-group text-right pt-2 pr-2">
                <button type="submit" class="btn btn-secondary" id="submitList" disabled="true">Submit for receiving</button>
                <span id="loading" style="display: none;">
                    <i class="fas fa-spinner fa-spin"></i>
                </span>
            </div>
        </form>
    </div>
</div>

@* Ajax failure modal with root div id of ajaxFailModal*@
@await Html.PartialAsync("_ModalNotificationPartial", "ajaxFailModal");

@section Scripts {
    @* Parts search API and ajax *@
    <script>
        partsAutoComplete("searchParts");

        // Remove part and disable submit button if list empty
        $(document).on("click", ".btn-del", function(e) {
            $(this).closest(".part-container").remove();
            // Account for dummy div
            if ($("#partsList").find(".part-container").length < 2) {
                $("#submitList").prop("disabled", true);
            }
        });

        // Ajax

        // Works with ReceiveListPartial classes
        verifyThenAppend = function (data, status, xhr) {
            var parsedHtml = (new DOMParser().parseFromString(data, "text/html"));
            var newPartId = parsedHtml.getElementById("newPartId");
            var newQty = parsedHtml.getElementById("newPartQty");
            var existingIds = document.getElementsByClassName("part-id");
            for (var i = 0; i < existingIds.length; i++) {
                if (newPartId.innerText == existingIds[i].innerText) {
                    var existingQtys = document.getElementsByClassName("part-qty");
                    existingQtys[i].value = (parseInt(existingQtys[i].value) + parseInt(newQty.value));
                    return;
                }                
            }
            // no match found. Clear ids before appending, hide placeholder text
            newPartId.removeAttribute("id");
            newQty.removeAttribute("id");
            $("#dummyText").hide();
            $("#submitList").prop("disabled", false);
            $("#partsList").append(parsedHtml.documentElement.outerHTML);
        };

        onAddFail = function (xhr) {
            showModal("ajaxFailModal", "Unable to add part", 
            "The server was unable to add the specified part, please ensure you have an internet connection and the part exists.<br /> <br /> If the issue persists, contact site administration.")
        };

        onListSubmitFail = function (xhr) {
            alert(`${xhr.status}: ${xhr.statusText}`);
        };
    </script>
}