@{
    ViewData["Title"] = "Receive a shipment";
}
<div class="form-group autocomplete col-sm-4">
    <span class="fa fa-search form-search-input"></span>
    <input id="searchParts" type="text" class="form-control has-search-icon" placeholder="Trigger the api call..." autocomplete="false" />
</div>

@section Scripts {
    @* Parts search API *@
    <script>partsAutoComplete("searchParts")</script>
}