@model List<CAM.Web.ViewModels.Shared.DiscrepancyPartViewModel>
<div id="parts-basket">
    @foreach (var m in Model)
    {
        <div class="d-flex justify-content-center">
            @* Image *@
            <div class="part-img">
                <img src="@Url.Content(m.ImageThumbPath)" draggable="false">
            </div>
            @* PN *@
            <div>
            </div>
            @* Qty *@
                @m.Qty
            <div>
                
            </div>
            @* Controls *@
            <div>

            </div>
        </div>
    }
</div>