@model CAM.Web.ViewModels.Discrepancies.DiscrepanciesDetailsViewModel
@{
    ViewData["Title"] = "Discrepancy";
}
<div class="discrepancy-grid">
    <div class="header-status">
        @Html.DisplayFor(m => m.WorkStatus)
        <span class="text-muted pl-1">@Model.SinceCreationMsg</span>
    </div>
    <div class="header-info">
        <span class="pl-2 text-muted">Work Order #: 11</span>
        <span class="pl-2 text-muted">Discrepancy #: 12</span>
        <span class="pl-2"><i class="fas fa-plane"></i> N11211</span>
    </div>
    <div class="title">
        <span class="index">#11 - </span>
        <span>Perform Engine Oil Change</span>
    <hr />
    </div>
    <div class="title-ctrls">
        <div class="d-flex flex-row justify-content-end">
            <button type="button" class="btn btn-sm btn-light">Edit</button>
        </div>
    <hr />
    </div>
    <div class="description grid-panel">
        <div class="panel-header">
            <div class="header-text">
                <span>Description of issue or task</span>
            </div>
            <div>
                <a>Edit</a>
            </div>
        </div>
        <div class="panel-text">
            This is a lot of text that is going to go here.
        </div>
    </div>
    <div class="resolution grid-panel">
        <div class="panel-header">
            <div class="header-text">
                <span>Corrective Action</span>
            </div>
            <div>
                <a>Edit</a>
            </div>
        </div>
        <div class="panel-text">
            This is a lot of text that is going to go here.
        </div>
    </div>
    <div class="parts grid-panel">
        <div class="panel-header" style="padding: 11px;">
            <div class="header-text">
                <span>Parts</span>
            </div>
            <a href="#" id="addDiscrepPart"><i class="far fa-plus-square"></i> Add</a>
        </div>
        <div class="row scrollable-header">
            <div class="col-8">Part</div> 
            <div class="col-2 pl-0">Qty</div> 
        </div>
    @await Html.PartialAsync("_DiscrepancyPartsPartial", Model.DiscrepancyPartViewModels)
    </div>    
    <div class="labor grid-panel">
        <div class="panel-header" style="padding: 11px;">
            <div class="header-text">
                <span>Labor Records</span>
            </div>
            <a href="#" id="addLaborRecord"><i class="far fa-plus-square"></i> Add</a>
        </div>
        <div class="row scrollable-header">
            <div class="col-4">Date</div> 
            <div class="col-4">Employee</div> 
            <div class="col-4">Hours</div> 
        </div>
    @await Html.PartialAsync("_LaborRecordsPartial", Model.LaborRecordViewModels)
    </div>
</div>

@* Modals *@
@await Html.PartialAsync("_ModalDiscrepancyPartsAdd", new CAM.Web.ViewModels.Discrepancies.DiscrepanciesAddPartViewModel(){ DiscrepancyId = Model.Id })
@await Html.PartialAsync("_ModalLaborRecordsAdd", new CAM.Web.ViewModels.Discrepancies.DiscrepanciesAddLaborViewModel(){ DiscrepancyId = Model.Id })

@section Scripts {
    <script>
        $(document).ready(partsAutoComplete("searchParts", "searchPartsId")); // Used for _ModalDiscrepancyPartsAdd

        // Toggle modals
        ToggleModalOnClick("#addDiscrepPart", "#addDiscrepPartModal");
        ToggleModalOnClick("#addLaborRecord", "#addLaborRecordModal");
    </script>
}