@model IEnumerable<CAM.Web.ViewModels.Discrepancies.DiscrepanciesIndexViewModel>
@{
    ViewData["Title"] = "Maintenance - Discrepancies";
}
<div class="panel-body">
    <div class="subnav-container">
        <ul class="list-inline subnav-link">
            <li>
                <a href="/maintenance/workorders/">Work Orders</a>
            </li>
            <li>
                <a href="/maintenance/discrepancies/">Discrepancies</a>
            </li>
        </ul>
    </div>
    <div class="control-panel">
        <div class="btn-toolbar justify-content-between">
            <div class="btn-group mb-2">
                <a class="btn btn-secondary" asp-controller="Discrepancies" asp-action="New">Create New</a>
            </div>        

            <div class="input-group">
                <form asp-action="index" method="get" class="form-inline">
                    <div class="form-group mb-2">
                        <select type="text" name="regNum" class="form-control mr-1">
                            <option value="All">All Aircraft</option>
                            @await Component.InvokeAsync("AircraftList", (string)ViewData["RegistrationNum"])
                        </select>
                        
                        <select type="text" name="status" class="form-control mr-1">
                            @await Component.InvokeAsync("WorkStatusList", (string)ViewData["WorkStatus"])
                        </select>
                    </div>
                    <div class="form-group ml-1 mb-2">
                    <input type="submit" value="Filter" class="btn btn-secondary" />
                    </div>
                </form>
            </div>
        </div>

        <table class = "table" cellspacing="0" width="100%">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Creation Date</th>
                    <th scope="col">Aircraft</th>
                    <th scope="col">Title</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @Html.DisplayForModel()
            </tbody>
        </table>
    </div>
    </div>
    </div>
</div>