@model CAM.Web.ViewModels.Discrepancies.DiscrepanciesCreateViewModel
@{
    ViewData["Title"] = "New Discrepancy";
}
<div class="panel-body">
    <div class="subnav-container">
        <ul class="list-inline subnav-link">
            <li>
                Bread / crumb / trail
            </li>
        </ul>
    </div>
    <div class="control-panel">
        
    </div>
</div>