@using CAM.Web.Views.Emails.ConfirmAccount
@using CAM.Web.Views.Shared
@model ConfirmAccountEmailViewModel

@{
    ViewData["EmailTitle"] = "Welcome!";
}

<p>
    We're excited to have you join us, click the button below to confirm your email.
</p>

<br />

@await Html.PartialAsync("_EmailButtonPartial", new EmailButtonViewModel("Confirm Account", Model.ConfirmAccountUrl))

<br />

<p>
    Note: If this is in your spam folder, you must click "Not spam" or the button above may be unclickable.
</p>

<br />

<p>
    -The Aspen Flying Club Maintenance Team
</p>