@model CAM.Core.Entities.Squawk

@{
    ViewData["Title"] = "Create Squawk";
}


<div>
    <h3 class="content-header">Create Squawk</h3>
    <hr />
</div>
<div>
        <form asp-action="Create" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!-- DateCreated input element -->
            <div class="form-group row justify-content-center">
                <label asp-for="DateCreated" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-4">
                    <input asp-for="DateCreated" type="text" class="form-control" data-provide="datepicker"/>
                    <span asp-validation-for="DateCreated" class="text-danger"></span>
                </div>
            </div>                
            <!-- Pilot input element -->
            <div class="form-group row justify-content-center">
                <label asp-for="Pilot" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-4">
                <input asp-for="Pilot" class="form-control" placeholder="Pilot's name" />
                <span asp-validation-for="Pilot" class="text-danger"></span>
                </div>
            </div>
            <!-- RegistrationNum select element -->
            <div class="form-group row justify-content-center">
                <label asp-for="RegistrationNum" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-4">
                <span asp-validation-for="RegistrationNum" class="text-danger"></span>
                <!-- RegistrationNum select dropdown ViewComponent -->
                <select asp-for="@Model.RegistrationNum"class="custom-select control-form">
                @await Component.InvokeAsync("AircraftList")
                </select>
                </div>
            </div>
            <!-- Discrepancy textarea element -->
            <div class="form-group row justify-content-center">
                <label asp-for="Discrepancy" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-4">
                    <textarea rows="6" asp-for="Discrepancy" class="form-control" placeholder="Describe the issue"></textarea>
                    <span asp-validation-for="Discrepancy" class="text-danger"></span>
                </div>
            </div>
            <!-- Grounded input toggle switch -->
            <div class="form-group row justify-content-center">
                <label asp-for="Grounded" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-4 custom-control custom-switch" style="padding-left: 50px;">
                    <input asp-for="Grounded" type="checkbox" class="custom-control-input" id="gswitch" />
                    <label class="custom-control-label" for="gswitch"></label>
                    <span asp-validation-for="Grounded" class="text-danger"></span>
                </div>
            </div>
            <hr>
            <!-- Status select element -->
            <div class="form-group row justify-content-center">
                <label asp-for="Status" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-4">
                    <select asp-for="Status" class="control-form custom-select">
                        <optgroup label="Open">
                            <option selected value="Awaiting review">Awaiting review</option>
                            <option value="Verified, awaiting parts">Verified, awaiting parts</option>
                            <option value="Verified, will wait until inspection to fix">Verified, will wait until inspection to fix</option>
                        </optgroup>
                        <optgroup label="Closed">
                            <option value="Inspected, approved for flight">Inspected, approved for flight</option>
                            <option value="Issue was verified and fixed">Issue was verified and fixed</option>
                            <option value="Unable to verify issue">Unable to verify issue</option>
                        </optgroup>
                    </select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
            </div>
            <!-- Resolution textarea element -->
            <div class="form-group row justify-content-center">
                <label asp-for="Resolution" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-4">
                    <textarea rows="6" asp-for="Resolution" class="form-control" placeholder="Describe the resolution"></textarea>
                </div>
            </div>
            <!-- DateResolved input element  -->
            <div class="form-group row justify-content-center">
                <label asp-for="DateResolved" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-4">
                        <input asp-for="DateResolved" type="text" class="form-control" value="" data-provide="datepicker">
                </div>
            </div>
            <!-- ResolvedBy input element -->
            <div class="form-group row justify-content-center">
                <label asp-for="ResolvedBy" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-4">
                    <input asp-for="ResolvedBy" class="form-control" placeholder="Resolver's name" />
                </div>
            </div>
            <!-- footer controls -->
            <div class="form-group row justify-content-center">
                <input type="submit" value="Create" class="btn btn-primary btn-sm" />
                <a asp-action="Index" class="btn btn-secondary btn-sm" style="margin-left:15px;">Back to Squawks</a>
            </div>
        </form>
</div>