<!doctype html>
<html lang="en">
  <head>
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
        asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
        crossorigin="anonymous" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" 
        integrity="sha256-siyOpF/pBWUPgIcQi17TLBkjvNgNQArcmwJB8YvkAgg=" crossorigin="anonymous" />      

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
        asp-fallback-href="~/lib/font-awesome.min.css" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
        crossorigin="anonymous" integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ="/>
    
    <link rel="stylesheet" href="~/css/site.css"/>
    
</head>
<body>
    <div class="container-fluid p-0">
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark navstyling">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMain">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item"><a class="nav-link" href="/home/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/aircraft/">Aircraft</a></li>
                <li class="nav-item"><a class="nav-link" href="/maintenance/">Maintenance</a></li>
                <li class="nav-item"><a class="nav-link" href="/inventory/">Inventory</a></li>
                <!-- Management dropdown -->
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Management</a> 
                    <div class="dropdown-menu navbar-dropdown">
                    <a class="dropdown-item" href="/management/">Overview</a>
                    <a class="dropdown-item" href="/reports/">Reports</a>
                    </div>    
                </ul>
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <partial name="_LoginPartial" />
                </ul>
        </div>
        </nav>
        <!-- main content renderbody() -->
        <main>
            @RenderBody()
        </main>
            
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
        asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
        asp-fallback-test="window.jQuery"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js" 
        asp-fallback-src="~/lib/jquery-validate/dist/jquery-validate/jquery.validate.min.js"
        integrity="sha256-sPB0F50YUDK0otDnsfNHawYmA5M0pjjUf4TvRJkGFrI="
        crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.js" 
        asp-fallback-src="~/lib/jquery-validate-unobtrusive/jquery.validate.unobtrusive.min.js"
        integrity="sha256-XNNC8ESw29iopRLukVRazlP44TxnjGmEQanHJ5kHmtk=" 
        crossorigin="anonymous">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.unobtrusive-ajax/3.2.5/jquery.unobtrusive-ajax.min.js" 
        asp-fallback-src="~/lib/jquery/dist/jquery.unobtrusive-ajax.min.js"
        integrity="sha384-PR0J4tYBSoIGo9uUkK0BYffIT5/M9EK4AAt+GZ5YLruAhB0i6omevPyX53PhvaUn" 
        crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
                crossorigin="anonymous">
    </script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>