@using Microsoft.AspNetCore.Identity
@using CAM.Infrastructure.Data.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">TestUser</a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown">
            <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Account</a>
            <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" class="dropdown-item" type="submit">Logout</button>
            </form>
        </div>    
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
