@model CAM.Core.Enums.WorkStatus
@{
    switch (Model)
    {
        case WorkStatus.Closed:
            <span class="status status-red">
                <i class="fas fa-times-circle"></i> Closed
            </span>
            break;
        case WorkStatus.UnderReview:
            <span class="status status-ylw">
                <i class="fas fa-search"></i> Review
            </span>
            break;
        case WorkStatus.Approved:
            <span class="status status-green">
                <i class="fas fa-check-circle"></i> Approved
            </span>
            break;
        default: // open
            <span class="status status-green">
                <i class="fas fa-tasks"></i> Open
            </span>
            break;
    }
}